*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.sidebar {
  display: none;
}

body {
  background-color: var(--primary-color);
  overflow-x: hidden;
}

:root {
  --primary-color: white;
  --para-color: #000021;
  --nav-color: #edf2f7;
  --nav-link-color: #1a202c;
}

.dark-theme {
  --primary-color: #171717;
  --para-color: white;
  --nav-color: #171923;
  --nav-link-color: white;
}

html {
  scroll-behavior: smooth;
}

/* Nav bar */

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  align-items: center;
  background-color: var(--nav-color);
  height: 87px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  max-width: 100%;
  overflow-x: hidden;
}

.items {
  display: flex;
  justify-content: center;
}

.verify-profile-detail h1 {
  color: var(--nav-link-color);
}

.verify-profile {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.verify-profile img {
  border-radius: 50%;
}

.verify-detail {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  align-items: center;
  margin: 5px;
}

.profile-mode img {
  height: 15px;
  width: 15px;
}

/* Nav link */
.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav-link ul {
  display: flex;
  list-style-type: none;
}

.nav-link li a {
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 600;
  font-family: Oswald;
  color: var(--nav-link-color);
}

/* Nav bar hover */
.nav-link a:hover {
  color: #fe0080 !important;
}

/* Profile mode */
.profile-mode {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.profile-mode-button {
  font-weight: 600;
  font-family: Oswald;
  color: var(--nav-link-color);
  margin-right: 40px;
  border: none;
  font-size: 16px;
  background-color: transparent;
}

.portfolio-sections p {
  color: var(--para-color);
}

/* Home Section */
.portfolio-sections {
  margin-top: 100px;
  padding: 20px;
}

.profile-img img {
  border-radius: 50%;
}

.profile-info {
  max-width: 600px;
  margin: 20px auto;
  text-align: justify;
}

.portfolio-sections h1 {
  display: flex;
}

.profile-div {
  display: flex;
  flex-direction: row;
  padding: 30px;
  width: 100%;
}

.profile-button {
  position: relative;
  margin: auto;
  margin-top: 20px;
  width: 100%;
  max-width: 300px;
  height: 52px;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.05em;
  cursor: pointer;
  overflow: hidden;
  background-color: transparent;
  transition: background 0.2s linear, transform 0.6s ease;
}

.profile-button:before,
.profile-button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.6s ease;
}

.profile-button:before {
  background: #3ad2d0;
  border-radius: 50% 50% 0 0;
  transform: translateY(100%) scaleY(0.5);
}

.profile-button:after {
  background: #fff;
  transform: translateY(0) scaleY(1);
}

.profile-button div {
  position: relative;
  top: 3px;
  width: 60%;
  height: 26px;
  text-transform: uppercase;
  overflow: hidden;
}

.profile-button span {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 50%;
  text-align: center;
  transition: transform 0.5s ease;
}

.profile-button span:first-child {
  color: #fff;
  transform: translateY(24px);
}

.profile-button span:last-child {
  color: #1e0f21;
  transform: translateY(0);
}

.profile-button:hover {
  background: #3ad2d0;
}

.profile-button:hover:after {
  border-radius: 0 0 50% 50%;
  transform: translateY(-100%) scaleY(0.5);
}

.profile-button:hover:before {
  border-radius: 0;
  transform: translateY(0) scaleY(1);
}

.profile-button:hover span:first-child {
  transform: translateY(0);
}

.profile-button:hover span:last-child {
  transform: translateY(-24px);
}

/* About Section */
.about-sec-cointainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 960px;
  margin: auto;
  padding: 20px;
}

.profile-img-about {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-bottom: 20px;
  background-color: #fe0080;
}

.about-section {
  padding: 40px;
  margin: 20px 0;
  border-radius: 8px;
}

.about-section p {
  color: var(--para-color);
  text-align: justify;
}

.about-section strong {
  color: #3ad2d0;
}

.about-content {
  flex: 1;
  padding: 0 20px;
}

h2 {
  color: var(--nav-link-color);
}

p {
  margin: 10px 0;
}

strong {
  color: var(--primary-color);
}

/* Skills Section */

.skill-cointainer {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin-left: 110px;
}

.skill-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2e8f0;
  border-radius: 10px;
  width: 200px;
  height: 70px;
  font-size: 10px;
  font-weight: 600;
  font-family: Oswald;
  color: #1a202c;
  cursor: pointer;
  transition: transform 1s;
  margin: 10px;
}

.skill-card:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 20px #1e0f21;
}

.skill-card img {
  height: 40px;
  width: 40px;
  padding-right: 20px;
}

#skills h1,
p {
  color: var(--nav-link-color);
}

/* Project Section Start Here */
#project-title h1 {
  color: var(--nav-link-color);
}
.project-container {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
}
.project-card {
  background-color: #e2e8f0;
  width: 350px;
  height: 450px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s;
  margin: 10px;
}
.proj-button a {
  text-decoration: none;
  color: #000000;
}
.proj-sub-button {
  margin-top: 10px;
  height: 40px;
  width: 90px;
  border: 2px rgb(88, 84, 84) solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 14px;
  border-radius: 25px;
}
.proj-sub-button:hover {
  background-color: RGB(38 38 38);
  color: whitesmoke;
}
.proj-button {
  height: 80px;
  width: 300px;
  display: flex;
  margin-left: 20px;
  justify-content: space-around;
}
.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.project-img {
  align-items: center;
}
.project-img img {
  width: 270px;
  height: 220px;
  margin: 40px;
  border-radius: 16px;
}
.project-info {
  margin-left: 50px;
}
.project-info-firstpart {
  display: flex;

  align-items: center;
}
.project-info-firstpart h1 {
  padding-left: 10px;
}
.project-info-secondpart {
  display: flex;

  margin-top: 5px;
}
.project-tec {
  align-items: center;
  font-weight: 600;
  font-family: Oswald;
  color: #1a202c;
  margin: 4px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  border: none;
  background-color: #edf2f7;
  font-size: 17px;
}

/* Project Section End here */

/* Contact US Start here */
.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-us a {
  text-decoration: none;
  color: black;
  font-family: monospace;
}
.nav-links {
  padding-top: 20px;
  padding-bottom: 40px;
}
.nav-links a {
  font-size: 27px;
  color: var(--para-color);
  margin-left: 20px;
}
.contact-us h1 {
  color: var(--para-color);
  font-size: 70px;
  font-family: monospace;
  padding-bottom: 10px;
}
.contact-us p {
  font-size: 27px;
  font-family: "Poppins", sans-serif;
  padding-top: 10px;
  color: rgb(85, 85, 85);
}
.contact-opt a {
  color: var(--para-color);
}

.contact-opt {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding: 20px;

  border-radius: 30px;
  border: rgb(85, 85, 85) 2px solid;
  display: flex;
  flex-direction: row;
}
.linklind-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}
.linklind-contact img {
  width: 35px;
  height: 35px;
}
.email-contact img {
  width: 45px;
  height: 45px;
}
.email-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

/* Contact Us End here */

/* Animations */
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes kenburns-top {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 16%;
  }
  100% {
    transform: scale(1.25) translateY(-10px);
    transform-origin: top;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }

  .verify-profile img {
    width: 40px;
    height: 40px;
  }
  .menu-button {
    margin-left: 80px;
  }
  .profile-div {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .profile-button {
    max-width: 80%;
  }

  .about-sec-cointainer {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .skill-cointainer {
    justify-content: center;
    margin-left: 0;
  }

  .project-info {
    margin-top: 35px;
    margin-left: 50px;
  }
  .proj-button {
    display: flex;
    flex-direction: row !important;
    margin: 5px;
  }
  .proj-sub-button {
    font-size: 17px;
    height: 60px;
    width: 120px;
  }
  .project-container {
    margin-left: 0;
  }
  .project-img {
    height: 200px;
    padding-left: 32px;
  }

  .project-img img {
    border-radius: 45px;

    width: 90%;
    height: 100%;
    margin: 20px 0;
  }

  .contact-us h1 {
    font-size: 55px;
  }
  .contact-opt {
    flex-direction: column;
    padding: 2px;
  }
  .nav-links {
    flex-direction: column;
    a {
      font-size: 18px;
    }
  }

  .profile-info {
    padding: 10px;
  }

  .project-info h3 {
    font-size: 22px;
  }

  .project-info p {
    font-size: 14px;
  }

  .skill-card {
    width: 100%;
    margin: 10px 0;
  }

  .proj-button {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .nav-link li a {
    font-size: 14px;
    margin-left: 10px;
  }

  .profile-button {
    font-size: 16px;
  }

  .profile-button span {
    font-size: 12px;
  }

  .proj-button {
    flex-direction: column;
    align-items: center;
  }

  .profile-mode-button {
    font-size: 14px;
  }

  .project-info h3 {
    font-size: 18px;
  }

  .project-info p {
    font-size: 12px;
  }

  .about-section {
    padding: 20px;
  }

  .contact-container {
    padding: 20px;
  }
}

/* 
side bar drop down code */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
}
.menu-button {
  display: none;
}
@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}
@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}
